@model Hoquei.Models.Clube

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.Name);
}

<h1>Tem a certeza que pretende apagar este Clube?</h1>
<div>

    <hr />

    <h4>Clube: @Html.DisplayFor(model => model.Name)</h4>

    <div style="float:left; margin-right:20px;  margin-top:10px; border:4px solid black">
        <img src="~/clubefotos/@Html.DisplayFor(model => model.Foto)"
             width="500" height="300" />
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />

        <br />
        <br />
        <a class="btn btn-primary" asp-action="Index">Cancelar</a>
    </form>
</div>
