@model Hoquei.Models.Clube

@{ ViewData["Title"] = "Details"; }

<h1>Detalhes</h1>

<div>
    <hr />
    <div style="float:left; margin-right:20px;  margin-top:10px; border:4px solid black">
        <img src="~/fotos/@Html.DisplayFor(model => model.Foto)"
             width="200" />
    </div>
    <div style="line-height:2;  ">
        <b> Id Clube:</b>
        @Html.DisplayFor(model => model.Id) <br />

        <b> Nome:</b>
        @Html.DisplayFor(model => model.Name)<br />

        <b> Data de Fundação:</b>
        @Html.TextBoxFor(model => model.Data_Fundacao, "{0:dd/MM/yyyy}")<br />

        <b> Foto:</b>
        @Html.DisplayFor(model => model.Foto)<br />



    </div>
    <div>
        <a class="nav-link text-dark" asp-action="Index">Voltar</a>
    </div>
</div>


