@model IEnumerable<Hoquei.Models.Clube>

@{ ViewData["Title"] = "Index"; }
<head>
    <link rel="stylesheet" href="~/css/ImagensFilmes.css" />
</head>
<h1>Lista de Clubes</h1>
<br />

<p>
    <a class="btn btn-primary" asp-action="Create">Criar Clube</a>
</p>

@foreach (var item in Model) {

<div class="Clube">
    <a asp-action="Edit" asp-route-id="@item.Id">
        <div class="overlay">
            <div class="text">
                @Html.DisplayFor(modelItem => item.Nome)
            </div>
        </div>
    </a>
</div>}


