@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmação do registo";
}

<h1>@ViewData["Title"]</h1>

<h4>
   <br /><br />
   Obrigado por criar o seu registo.<br />
   Assim que um <i>Gestor</i> confirmar a sua conta, poderá aceder ao sistema.
   </h4>