@{
    ViewData["Title"] = "HoqueiResults";
}

@*Nome do Site*@
<div class="text-center">
    <h1 class="display-4" style="font-size: 100px;">Hóquei Patins</h1>
    
</div>

@*Foto*@
@*<img class="figure-img" />*@
    <img src="fotos/logohoquei.png" />


